.demo-card-wide.mdl-card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.module-card-wide>.mdl-card__title {
    height: 200px;
    background: url('./images/qsmp.png') center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.demo-card-wide.mdl-card {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
}

#kangaroo {
    margin: 5px;
    height: 50px;
}